@page "/pc"
<ChildComponent>
    <datas>
        <div style="background-color:green">
            <p>@context.id</p>
             <p>@context.name</p>
            <p>@context.price</p>
        </div>
    </datas>
</ChildComponent>
@code {
    
}
