@page "/pc"
<ChildComponent>
    <datas Context="bizimAdam">
        <div style="background-color:green">
            <p>@bizimAdam.id</p><br />
            <p>@bizimAdam.name</p><br />
            <p>@bizimAdam.price</p><br />
        </div>
    </datas>
</ChildComponent>
@code {
}
